<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Expires" content="-1" /> 
  <meta http-equiv="Pragma" content="no-cache" /> 
  <meta http-equiv="Cache-Control" content="No-Cache" />
  <meta name="format-detection" content="telephone=no" />
  <title>Brochure 2-image type3 Templete</title>
  <link rel="stylesheet"  href="css/brochure.css" media="screen, print" />
</head>
<body>
<section id="brochure-img2-type3" class="templete-common-reset">
  <div class="tmpl-body">
    <div class="photo">
      <img src="css/image/img_brochure11.png" alt="brochure photo" />
    </div>
    <strong class="title">WELCOME TO MALAYSIA</strong>
    <div class="subtitle">
    	MALAYSIA IS
    </div>
    <div class="article">
      Malaysia is a federal constitutional monarchy in Southeast Asia. It consists of thirteen states and three federal territories and has a total landmass of 329,847 square kilmetres (127,350 sq mi) separated by the South China Sea into two similarly sized rgions, Peninsular Malaysia and Malaysian Borneo. 
    </div>
    <div class="photo2">
      <img src="css/image/img_brochure12.png" alt="brochure photo" />
    </div>
    <ul class="info">
      <li>
        <dl>
        	<dt>WRITER</dt>
        	<dd>Bukit Bendera</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>CONTACT</dt>
          <dd>+603-8885-9546</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>E-MAIL</dt>
          <dd>Bendera@facebook.com</dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
</body>
</html>
