<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Expires" content="-1" /> 
  <meta http-equiv="Pragma" content="no-cache" /> 
  <meta http-equiv="Cache-Control" content="No-Cache" />
  <meta name="format-detection" content="telephone=no" />
  <title>Label type1 Templete</title>
  <link rel="stylesheet"  href="css/label.css" media="screen, print" />
</head>
<body>
<section id="label-type1" class="templete-common-reset">
  <ul class="clfix">
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong id="product_name">RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>SELLER</dt>
          <dd><span id="seller">Syanman</span></dd>
          <dt>PACKED</dt>
          <dd><span id="packed">2013. 02. 08</span></dd>
          <dt>ORIGIN</dt>
          <dd><span id="origin">Kuala Tomany</span></dd>
          <dt>PHONE</dt>
          <dd><span id="phone">+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span id="email">Syanman214@gmail.com</span>
        </dl>
      </div>
    </li>
  </ul>
</section>
</body>
</html>
