<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Expires" content="-1" /> 
  <meta http-equiv="Pragma" content="no-cache" /> 
  <meta http-equiv="Cache-Control" content="No-Cache" />
  <meta name="format-detection" content="telephone=no" />
  <title>Label type2 Templete</title>
  <link rel="stylesheet"  href="css/label.css" media="screen, print" />
</head>
<body>
<section id="label-type2" class="templete-common-reset">
  <ul class="clfix">
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
    <li>
      <div>
        <strong>RURAL BANANAS</strong>
        <dl class="clfix">
          <dt>Seller</dt>
          <dd><span>Syanman</span></dd>
          <dt>Packed</dt>
          <dd><span>2013. 02. 08</span></dd>
          <dt>Origin</dt>
          <dd><span>Kuala Tomany</span></dd>
          <dt>Phone</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-mail</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </div>
    </li>
  </ul>
</section>
</body>
</html>
