<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Expires" content="-1" /> 
  <meta http-equiv="Pragma" content="no-cache" /> 
  <meta http-equiv="Cache-Control" content="No-Cache" />
  <meta name="format-detection" content="telephone=no" />
  <title>Promotion 2-image type2 Templete</title>
  <link rel="stylesheet"  href="css/promotion.css" media="screen, print" />
</head>
<body>
<section id="promotion-img2-type2" class="templete-common-reset">
  <div class="tmpl-header">
    <strong class="title">RURAL BANANAS FOR SALE</strong>
  </div>
  <div class="tmpl-body">
  	
    <dl class="summary clfix">
      <dt>Rural Banana</dt>
      
      <dd class="info">
        <dl class="clfix">
          <dt>PRICE</dt>
          <dd><span>2$</span></dd>
          <dt>SELLER</dt>
          <dd><span>Syanman</span></dd>
          <dt>PHONE</dt>
          <dd><span>+063-8885-9546</span></dd>
          <dt>E-MAIL</dt>
          <dd><span>Syanman214@gmail.com</span></dd>
        </dl>
      </dd>
    </dl>
    <div class="article">
      Banana is the common name for an edible fruit produced by several kinds of large herbaceous flowering plants of the genus Musa.<br /><br /> 
      The fruit is variable in size, color and firmness, but is usually elongated and curved, with soft flesh rich in starch covered with a rind which may be yellow, purple or red when ripe. The fruits grow in clusters hanging from the top of the plant.<br /><br /> 
      Almost all modern edible parthenocarpic bananas come from two wild species Musa acuminata and Musa balbisiana. The scientific names of bananas are Musa acuminata, Musa balbisiana, and Musa paradisiaca for the hybrid Musa acuminata balbisiana, depending on their genomic constitution. 
    </div>
    
    <div class="photo">
    	<img src="css/image/img_promotion05.png" alt="product photo" />
    	<img src="css/image/img_promotion05.png" alt="product photo" />	
	</div>
    
  </div>
</section>
</body>
</html>
