<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SK CBC admin</title>
<link href="css/basc.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<script src="inc/script.js" type="text/javascript"></script>
</head>

<body>
<header class="main">
  <div class="logInfo">
    <a href="#" class="logoutBtn">Log-out</a>
    <p class="logDate">
      <span>Tue,</span>
      <span>28</span>
      <span>Jan</span>
      <span>2013</span>
      <span class="name">Sayahmi</span>
    </p>
  </div>
  <nav>
    <h1><img src="images/logo.gif" alt="SK CBC Admin" /></h1>
    <ul class="tab">
      <li><a href="#">User<br />management</a></li>
      <li><a href="#">Service<br />management</a></li>
      <li><a href="#">Product<br />management</a></li>
      <li><a href="#" class="valign">Billing</a></li>
      <li><a href="#" class="valign">Stats</a></li>
      <li><a href="#">CBC<br />management</a></li>
      <li><a href="#">System<br />management</a></li>
    </ul>
  </nav>
</header>
<section class="container">
  <!-- Notice : str -->
  <article class="noticeList">
    <h1>Notice<span>More <em>▶</em></span></h1>
    <table class="boardList notice" summary="Notice">
      <colgroup>
        <col width="*" />
        <col width="18%" />
        <col width="18%" />
      </colgroup>
      <thead>
        <tr>
          <th class="one">Title</th>
          <th>Name</th>
          <th class="end">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
      </tbody>
    </table>
  </article>
  <!-- Notice : end -->
  <!-- Members : str -->
  <article class="membersList">
    <h1>Members<span>More <em>▶</em></span></h1>
    <table class="boardList members" summary="Members">
      <colgroup>
        <col width="*" />
        <col width="33%" />
        <col width="33%" />
      </colgroup>
      <thead>
        <tr>
          <th class="one">Title</th>
          <th>Name</th>
          <th class="end">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Use portal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Use portal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
      </tbody>
    </table>
  </article>
  <!-- Members : end -->
  <!-- use : str -->
  <article class="useList">
    <h1>Notice<span>More <em>▶</em></span></h1>
    <table class="boardList use" summary="Use">
      <colgroup>
        <col width="*" />
        <col width="40%" />
        <col width="20%" />
      </colgroup>
      <thead>
        <tr>
          <th class="one">Service</th>
          <th>Division</th>
          <th class="end">Hit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Use portal</a></td>
          <td class="tdfontColor01">Members</td>
          <td>12340</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">40</td>
        </tr>
        <tr>
          <td><a href="#">Use portal</a></td>
          <td class="tdfontColor01">Members</td>
          <td>12340</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">40</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">40</td>
        </tr>
      </tbody>
    </table>
  </article>
  <!-- use : end -->
  <!-- company : str -->
  <article class="companyList">
    <h1>Members<span>More <em>▶</em></span></h1>
    <table class="boardList company" summary="Company">
      <colgroup>
        <col width="*" />
        <col width="33%" />
        <col width="33%" />
      </colgroup>
      <thead>
        <tr>
          <th class="one">Title</th>
          <th>Member</th>
          <th class="end">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Usepotal</a></td>
          <td class="tdfontColor01">Adam</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
        <tr>
          <td><a href="#">Tablet using class</a></td>
          <td class="tdfontColor01">Syahmi</td>
          <td class="time">2013.01.05</td>
        </tr>
      </tbody>
    </table>
  </article>
  <!-- company : end -->
  <section class="guestGroup">
    <ul>
      <li class="updown">
        <ol>
          <li class="download">
            <div>
              <p><span>Download</span><em>9999.9Mbps</em></p>
            </div>
          </li>
          <li class="upload">
            <div>
              <p><span>Upload</span><em>4Mbps</em></p>
            </div>
          </li>
        </ol>
      </li>
      <li class="side">
        <dl>
          <dt class="dottline">Today</dt>
          <dd class="dottline">12,580</dd>
          <dt><span>Yesterday</span></dt>
          <dd><span>347</span></dd>
        </dl>
      </li>
    </ul>
  </section>
</section>
<footer>
  <address></address>
</footer>
</body>
</html>
